body{
  background-color: #90caf9;
}

h1,h2{
  font-weight: lighter;

}
.App {
  text-align: center;
}

.App-content {
  /* background-color: #282c34; */
  color: #121212;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
}

.App-logo {
  height: 15em;
  margin: .5em
}